{{> head }}


    {{> navbar }}

      <div class="bg-light ">

        <div class="container">

          <h1 class="">Hola {{capitalizar nombre}}!</h1>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maxime, excepturi dolores quaerat doloremque quam eligendi
              unde tempora ut ullam a, magni tenetur doloribus. 
              Obcaecati culpa, reiciendis debitis odit praesentium minus?
          </p>
          <hr>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Eum, velit dolore quos cum est corporis eveniet nobis tempora 
              accusantium debitis numquam suscipit at quia dolorum, 
              ex fugiat maiores? Error, voluptatum.
          </p>

          <button class="btn btn-primary">
            Learn more
          </button>

      </div>
      </div>

     {{> footer }}
    
    